{% extends 'main.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<style>
    a:hover{
        color:black;
    }
    
    f-left {
      float: left;
    }
    
    .f-right {
      float: right;
    }
    #btn1{
      background-color:#f82249;
      padding:15px;
      color:white;
      border:2px solid #f82249;
      border-radius:5px;
    }
</style>

<div class="container-fluid col-lg-12" data-aos="fade-up">
    <center>
        <section id="counts" class="counts">
          <div class="container">
              <div class="col-lg-6 col-6">
                <div class="count-box">
                    <i class="bi bi-person-lines-fill"></i><br>
                  <span data-purecounter-start="0" data-purecounter-end="4000" data-purecounter-duration="1" class="purecounter">₦{{ district_income|intcomma }}</span>
                  <p><b>Balance for all District</b></p>
                </div>
              </div>
      
            </div>
        </section>
        <div class="container-fluid">
            <a href="{% url 'admin_district_transaction_download' %}"><button type="button" class="btn btn-success m-2"><i class="bi bi-download"></i>. Download all transactions</button></a>
            <button data-bs-toggle="modal" data-bs-target="#filterTransaction" type="button" class="m-2 btn btn-primary"><i class="bi bi-filter"></i>. Filters</button>
        </div>
    
      </center>
    <section>
        <div class="container-fluid">
          {% if tran %}
          <div class="table-responsive-sm">
            <table class="table" id="myTable">
              <thead>
                <tr>
                    <td><strong>Total Credit</strong></td>
                    <td><td><span class="badge bg-success">₦{{credit_total|intcomma}}</span></td></td>
                </tr>
                <tr>
                    <td><strong>Total Debit</strong></td>
                    <td><td><span class="badge bg-danger">₦{{debit_total|intcomma}}</span></td></td>
                </tr>
                <tr>
                  <th>#</th>
                  <th>Description</th>
                  <th>Amount</th>
                  <th>Transaction Type</th>
                  <th>Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for i in tran %}
                <tr>
                  
                  <ol><td><li></li></td></ol>
                  <td>{{i.description}}</td>
                  <td>₦{{i.amount|intcomma}}</td>
                  {% if i.type == 'Credit' %}
                <td><span class="badge bg-success">Credit</span></td>
                {% else %}
                <td><span class="badge bg-danger">Debit</span></td>
                {% endif %}
                  <td>{{i.date}}</td>
                  <th><a href="{% url 'tran-receipt' i.id %}" class='btn btn-success'><i class='bi bi-plus'></i> print & Download</a></th>

                </tr>{% endfor %}
              </tbody>
            </table>


            {% if tran.has_other_pages %}
    <ul class="pagination">
        {% if tran.has_previous %}
            <li class="page-item m-2"><a class="page-link btn btn-danger" href="?page=1">1</a></li>
            {% if tran.number > 3 %}
                <li class="page-item m-2 disabled"><span class="page-link">...</span></li>
            {% endif %}
            {% for i in tran.paginator.page_range %}
                {% if tran.number|add:-3 <= i <= tran.number|add:3 %}
                    <li class="page-item m-2 {% if i == tran.number %}active{% endif %}">
                        <a class="page-link btn btn-danger" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if tran.paginator.num_pages > tran.number|add:3 %}
                <li class="page-item m-2 disabled"><span class="page-link">...</span></li>
            {% endif %}
            <li class="page-item m-2"><a class="page-link btn btn-danger" href="?page={{ tran.paginator.num_pages }}">{{ tran.paginator.num_pages }}</a></li>
        {% else %}
            <li class="page-item m-2 disabled"><span class="page-link btn btn-danger">previous</span></li>
            {% for i in tran.paginator.page_range %}
                <li class="page-item m-2 {% if i == tran.number %}active{% endif %}">
                    <a class="page-link btn btn-danger" href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endfor %}
            <li class="page-item m-2"><a class="page-link btn btn-danger" href="?page={{ tran.paginator.num_pages }}">{{ tran.paginator.num_pages }}</a></li>
        {% endif %}
        {% if tran.has_next %}
            <li class="page-item m-2"><a class="page-link btn btn-danger" href="?page={{ tran.next_page_number }}">next</a></li>
        {% else %}
            <li class="page-item m-2 disabled"><span class="page-link btn btn-danger">next</span></li>
        {% endif %}
    </ul>
{% endif %}

        
            {% else %}

        <center><h1 class="mt-4 text-danger"><b>No Registered Member Found</b></h1></center>

        {% endif %}
      </div>
      </div>
    </section>
</div>

    
<div class="modal fade" id="filterTransaction" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Filter transaction</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="get" action="#" id="myForm">
            <select class="select mt-3" name='type'>
              <option value="">---- Choose Transaction Type ----</option>
              <option value="Credit">Credit</option>
              <option value="Debit">Debit</option>
            </select>
              <div class="mb-3 mt-3">
                <label for="">Filter by Date From</label>
                <input name ='date__gte' type="date" class="" placeholder="Filter by Date From" >
              </div>
  
              <div class="mb-3 mt-3">
                <label for="">Filter by Date to</label>
                <input name ='date__lte' type="date" class="" placeholder="Filter by Date From" >
              </div>
              <select class="select" name='district'>
                <option value="">Choose District</option>
                {% for i in district %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
              </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" onclick="submitForm('{% url 'admin-district-transaction'  %}')">Filter</button>
        </form>
        </div>
      </div>
    </div>
  </div>


  <script>
    function submitForm(url){
        document.getElementById('myForm').action =url;
        document.getElementById('myForm').submit();
    }
  </script>

  
{% endblock content %}