{% extends 'main.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<style>
    a:hover{
        color:black;
    }
    #myInput,select{
      width: 30%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 2px solid red;
      border-radius: 4px;
    }
    f-left {
      float: left;
    }
    
    .f-right {
      float: right;
    }
    #btn1{
      background-color:#f82249;
      padding:15px;
      color:white;
      border:2px solid #f82249;
      border-radius:5px;
    }
</style>
<div class="pagetitle container">
  <h4>Welcome Back {{request.user.first_name}} <i class="bi bi-person-fill"></i></h4>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item">All Church Member</li>
      <li class="breadcrumb-item"></li>
    </ol>
  </nav>
</div>
<div class="container-fluid col-lg-12" data-aos="fade-up">
    <center>
        <section id="counts" class="counts">
          <div class="container">
              <div class="col-lg-6 col-6">
                <div class="count-box">
                    <i class="bi bi-person-lines-fill"></i><br>
                  <span data-purecounter-start="0" data-purecounter-end="4000" data-purecounter-duration="1" class="purecounter">{{ district_member|length }}</span>
                  <p><b>Total  Members</b></p>
                </div>
              </div>
      
            </div>
        </section>
      </center>
        
          <center>
            <div class="container-fluid">
                  <a href="{% url 'admin_member_download' %}"><button type="button" class="btn btn-success m-2"><i class="bi bi-download"></i>. Download all Members</button></a>
                  <button data-bs-toggle="modal" data-bs-target="#filterResult" type="button" class="m-2 btn btn-primary"><i class="bi bi-filter"></i>. Filters</button>
              </div>
      </center>

      <section>
        <div class="container-fluid">
          {% if district_member %}
          <div class="table-responsive-sm">
            <table class="table" id="myTable">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Email Address</th>
                  <th>Phone Number</th>
                  <th>Gender</th>
                  <th>Age</th>
                  <th>Address</th>
                  <th>Country</th>
                  <th>LGA</th>
                  <th>Department</th>
                  <th>Date and Time</th>
                </tr>
              </thead>
              <tbody>
                {% for i in district_member %}
                <tr>
                  
                  <ol><td><li></li></td></ol>
                  <td>{{i.name}}</td>
                  <td>{{i.email}}</td>
                  <td>{{i.phone}}</td>
                  <td>{{i.gender}}</td>
                  <td>{{i.age}}</td>
                  <td>{{i.address}}</td>
                  <td>{{i.country}}</td>
                  <td>{{i.LGA}}</td>
                  <td>{{i.department}}</td>
                  <td>{{i.date}}</td>

                </tr>{% endfor %}
              </tbody>
            </table>


            {% if district_member.has_other_pages %}
    <ul class="pagination">
        {% if district_member.has_previous %}
            <li class="page-item m-2"><a class="page-link btn btn-danger" href="?page=1">1</a></li>
            {% if district_member.number > 3 %}
                <li class="page-item m-2 disabled"><span class="page-link">...</span></li>
            {% endif %}
            {% for i in district_member.paginator.page_range %}
                {% if district_member.number|add:-3 <= i <= district_member.number|add:3 %}
                    <li class="page-item m-2 {% if i == district_member.number %}active{% endif %}">
                        <a class="page-link btn btn-danger" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if district_member.paginator.num_pages > district_member.number|add:3 %}
                <li class="page-item m-2 disabled"><span class="page-link">...</span></li>
            {% endif %}
            <li class="page-item m-2"><a class="page-link btn btn-danger" href="?page={{ district_member.paginator.num_pages }}">{{ district_member.paginator.num_pages }}</a></li>
        {% else %}
            <li class="page-item m-2 disabled"><span class="page-link btn btn-danger">previous</span></li>
            {% for i in district_member.paginator.page_range %}
                <li class="page-item m-2 {% if i == district_member.number %}active{% endif %}">
                    <a class="page-link btn btn-danger" href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endfor %}
            <li class="page-item m-2"><a class="page-link btn btn-danger" href="?page={{ district_member.paginator.num_pages }}">{{ district_member.paginator.num_pages }}</a></li>
        {% endif %}
        {% if district_member.has_next %}
            <li class="page-item m-2"><a class="page-link btn btn-danger" href="?page={{ district_member.next_page_number }}">next</a></li>
        {% else %}
            <li class="page-item m-2 disabled"><span class="page-link btn btn-danger">next</span></li>
        {% endif %}
    </ul>
{% endif %}

        
            {% else %}

        <center><h1 class="mt-4 text-danger"><b>No Registered Member Found</b></h1></center>

        {% endif %}
      </div>
      </div>
    </section>
      </div>


      
<div class="modal fade" id="filterResult" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Filter All Members</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="get" action="#" id="myForm">
          <div class="mb-3 mt-3">
            <input name ='name' type="text" class="" placeholder=" Filter by Name" >
          </div>

          <div class="mb-3 mt-3">
            <input name ='email' type="text" class="" placeholder="Filter by Email" >
          </div>
          <select class="select mt-3" name='gender'>
            <option value="">---- Choose Gender ----</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
            <div class="mb-3 mt-3">
              <label for="">Filter by Age From</label>
              <input name ='age__gte' type="number" class="" placeholder="Filter by Age From" >
            </div>

            <div class="mb-3 mt-3">
              <label for="">Filter by Age to</label>
              <input name ='age__lte' type="number" class="" placeholder="Filter by Age From" >
            </div>

          <div class="mb-3 mt-3">
            <select class="select" name='department'>
              <option value="">Choose Department</option>
              {% for i in department %}
              <option value="{{i.id}}">{{i.name}}</option>
              {% endfor %}
            </select>

            <select class="select" name='district'>
                <option value="">Choose District</option>
                {% for i in district %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
              </select>

            
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="submitForm('{% url 'admin_filter_church_results_download' %}')" >Filter & Download</button>
        <button type="button" class="btn btn-success" onclick="submitForm('{% url 'admin-district-member' %}')">Filter</button>
      </form>
      </div>
    </div>
  </div>
</div>
<script>
  function submitForm(url){
      document.getElementById('myForm').action =url;
      document.getElementById('myForm').submit();
  }
</script>
{% endblock content %}