{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>

</style>
<div class="pagetitle container">
  <h4>Welcome Back {{request.user.first_name}} <i class="bi bi-person-fill"></i></h4>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item">All District Admin</li>
      <li class="breadcrumb-item"></li>
    </ol>
  </nav>
</div>
<div class="container-fluid col-lg-12" data-aos="fade-up">
  <div class="container">
    <a href="#" data-bs-toggle="modal" data-bs-target="#AddAdmin"><button class="btn m-1 btn-secondary"><i class="bi bi-plus-square-fill"></i> Add District Admin</button></a>
  </div>
    <div class="row mt-5">
        <b><span>Total District Admin: {{district_user|length}}</span><hr></b>
        {% if district_user %}
        {% for i in district_user %}
        <div class="card col-lg-6  border-0">
          <center>
        <section id="counts" class="counts">
          <div class="container">
            <a href="#!" class="text-dark">
              <div class="col-lg-6 col-6">
                <div class="count-box">
                  <i class="bi bi-person-lines-fill"></i><br>
                  <span data-purecounter-start="0" data-purecounter-end="4000" data-purecounter-duration="1" class="purecounter"></span>
                  <p><b>{{i.first_name}} {{i.last_name}} <br>({{i.district}})</b><br><b>Church Admin</b></p>
                  
                </div>
              </div>
            </a>
            </div> 
        </section>
      </center>
        </div>
        {% endfor %}
        {% else %}
        <center ><h1 class='text-danger mt-4 font-weight-bolder'><i class="bi bi-x-circle"></i>  No District Found </h1></center>
        {% endif %}
        
</div>
</div>



<div id="AddAdmin" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><strong>Add Admin to {{district}} District</strong></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action='{% url "admin-district-admin" %}'>
          {% csrf_token %}
          <div class="mb-3 mt-3">
            {{form.as_p}}
          <div class="text-right mt-3">
            <button type="submit"  class="btn1">Submit</button>
          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
{% endblock content %}