{% extends 'main.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<style>
    a:hover{
        color:black;
    }
    #myInput,select{
      width: 30%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 2px solid red;
      border-radius: 4px;
    }
    f-left {
      float: left;
    }
    
    .f-right {
      float: right;
    }
    #btn1{
      background-color:#f82249;
      padding:15px;
      color:white;
      border:2px solid #f82249;
      border-radius:5px;
    }
</style>
<div class="pagetitle container">
  <h4>Welcome Back {{request.user.first_name}} <i class="bi bi-person-fill"></i></h4>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item">All Sermons</li>
      <li class="breadcrumb-item"></li>
    </ol>
  </nav>
</div>
<div class="container-fluid col-lg-12" data-aos="fade-up">
    <center>
        <section id="counts" class="counts">
          <div class="container">
              <div class="col-lg-6 col-6">
                <div class="count-box">
                    <i class="bi bi-person-lines-fill"></i><br>
                  <span data-purecounter-start="0" data-purecounter-end="4000" data-purecounter-duration="1" class="purecounter">{{ sermon|length }}</span>
                  <p><b>Total  Sermons</b></p>
                </div>
              </div>
      
            </div>
        </section>
      </center>



</div>
{% endblock content %}