{% extends 'main.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<style>
    .car {
        margin:6px;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
      }
</style>
<div class="pagetitle container">
  <h4>Welcome Back {{request.user.first_name}} <i class="bi bi-person-fill"></i></h4>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'secretary-dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item"></li>
    </ol>
  </nav>
</div><br><br>
<div class="container-fluid col-lg-12" data-aos="fade-up">
    <b><span>{{district.name}} District Details:: Address>>> {{district.address}}::: Administator>>> {% if district_user %}[{{district_user.first_name}}]{% else %}<span class='text-danger mt-4 font-weight-bolder'><i class="bi bi-x-circle"></i> No User for this District{% endif %}</span><hr></b>
    <div class="container">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#AddMember"><button class="btn m-1 btn-warning"><i class="bi bi-plus-square-fill"></i> Add Member to {{district}}</button></a>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#AddNewMember"><button class="btn m-1 btn-info text-white"><i class="bi bi-plus-square-fill"></i> Register New Member to {{district}}</button></a>
                        <a href="{% url 'district-attendance' district.pk %}"><button class="btn m-1 btn-secondary text-white">{{district}} Attendance</button></a>
      </div>
    <section class="section dashboard mt-3 ">
        <div class="container-fluid">
        <div class="row">    
              <div class="col-xxl-4 col-md-4">
                <div class="card car info-card sales-card">
                  <div class="card-body">
                    <h5 class="card-title">Total District Members:</h5>
    
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-cart"></i>
                      </div>
                      <div class="ps-3">
                        <h6>{{district_member|length}}</h6>
                        <span class="text-primary small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1">All {{district}} District Members</span>
                      </div>
                    </div>
                    <div class=" " style='float:right;'>
                      <a class='text-white btn btn-primary' href="{% url 'district-member' district.id %}" ><i class="bi bi-eye"></i></a>
                    </div>
                  </div>
    
                </div>
              </div>
              <div class="col-xxl-4 col-md-4">
                <div class="card car info-card sales-card">
                  <div class="card-body">
                    <h5 class="card-title">Total District Income:</h5>
    
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-cart"></i>
                      </div>
                      <div class="ps-3">
                        <h6>₦{{district_income.income|intcomma}}.00</h6>
                        <span class="text-primary small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1">{{district}} District Income</span>
                      </div>
                    </div>
                    <div class=" " style='float:right;'>
                      <a class='text-white btn btn-primary' href="{% url 'district-income' district.id %}" ><i class="bi bi-eye"></i></a>
                    </div>
                  </div>
    
                </div>
              </div>
              <div class="col-xxl-4 col-md-4">
                <div class="card car info-card sales-card">
                  <div class="card-body">
                    <h5 class="card-title">Total New Member::</h5>
    
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-cart"></i>
                      </div>
                      <div class="ps-3">
                        <h6>{{district_new_member|length}}</h6>
                        <span class="text-primary small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1">{{district}} District New Comer</span>

                    </div>
                    </div>
                    <div class=" " style='float:right;'>
                      <a class='text-white btn btn-primary' href="{% url 'district-new-member' district.id  %}" ><i class="bi bi-eye"></i></a>
                    </div>
                  </div>
    
                </div>
              </div>
        </div>
        <div class="row">
          <div class="col-lg-7 ">
            <div class="row ">
              <div class="col-12">
                <div class="card car top-selling overflow-auto">
                  <div class="card-body pb-0">
                    <h5 class="card-title">Recent {{district}} Church Members </h5>
                    {% if district_member %}
                    <table class="table table-borderless">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col">Phone</th>
                          <th scope="col">Email</th>
                          <th scope="col">Gender</th>
                          <th scope="col">Age</th>
                          <th scope="col">Department</th>
                        </tr>
                      </thead>
                      
                      <tbody>
                        
                        {% for i in district_member|slice:':6' %}
                        <tr>
                          <th scope="row">{{forloop.counter}}</th>
                          <td>{{i.name}}</td>
                          <td>{{i.phone}}</td>
                          <td>{{i.email}}</td>
                          <td>{{i.gender}}</td>
                          <td>{{i.age}}</td>
                          <td>{{i.department}}</td>
                        </tr>
                        {% endfor %}
                        
                      </tbody>
                      {% else %}
                        <center class='text-danger font-weight-bolder'><i class="bi bi-x-circle"></i>  No Church Member </center>
                        {% endif %}
                    </table>
    
                  </div>
    
                </div>
              </div>

              <div class="col-12">
                <div class="card car top-selling overflow-auto">
                  <div class="card-body pb-0">
                    <h5 class="card-title">Recent {{district}} New Church Members </h5>
                    {% if district_new_member %}
                    <table class="table table-borderless">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col">Phone</th>
                          <th scope="col">Email</th>
                          <th scope="col">Gender</th>
                          <th scope="col">Age</th>
                        </tr>
                      </thead>
                      
                      <tbody>
                        
                        {% for i in district_new_member|slice:':6' %}
                        <tr>
                          <th scope="row">{{forloop.counter}}</th>
                          <td>{{i.name}}</td>
                          <td>{{i.phone}}</td>
                          <td>{{i.email}}</td>
                          <td>{{i.gender}}</td>
                          <td>{{i.age}}</td>
                        </tr>
                        {% endfor %}
                        
                      </tbody>
                      {% else %}
                        <center class='text-danger font-weight-bolder'><i class="bi bi-x-circle"></i>  No New Church Member </center>
                        {% endif %}
                    </table>
    
                  </div>
    
                </div>
              </div>
            </div>
            </div>
          <!-- End Left side columns -->
    
          <!-- Right side columns -->
          <div class="col-lg-5">
            <div class="col-12">
              <div class="card car recent-sales overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">Recent {{district}} Transactions</h5>
                  {% if district_transaction %}
                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Description</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Type</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                      {% for i in district_transaction|slice:':6' %}
                      <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td><a href="" class="text-primary">{{i.description}}</a></td>
                        <td>₦{{i.amount|intcomma}}</td>
                        {% if i.type == 'Credit' %}
                        <td><span class="badge bg-success">Credit</span></td>
                        {% else %}
                        <td><span class="badge bg-danger">Debit</span></td>
                        {% endif %}
                      </tr>
                      {% endfor %}
                      {% else %}
                      <center class='text-danger font-weight-bolder'><i class="bi bi-x-circle"></i>  No Transaction </center>
                      {% endif %}
                    </tbody>
                  </table>
  
                </div>
  
              </div>
            </div>
            <div class="col-12">
              <div class="card car recent-sales overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">Recent {{district}} Attendance</h5>
                  {% if district_attendance %}
                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Children Boy</th>
                        <th scope="col">Children Girl</th>
                        <th scope="col">Men</th>
                        <th scope="col">Women</th>
                        <th scope="col">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                      {% for i in district_attendance|slice:':6' %}
                      <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{i.children_boy}}</td>
                        <td>{{i.children_girl}}</td>
                        <td>{{i.men}}</td>
                        <td>{{i.women}}</td>
                        <td>{{i.children_boy|add:i.children_girl|add:i.men|add:i.women}}</td>
                      </tr>
                      {% endfor %}
                      {% else %}
                      <center class='text-danger font-weight-bolder'><i class="bi bi-x-circle"></i>  No Attendance </center>
                      {% endif %}
                    </tbody>
                  </table>
  
                </div>
  
              </div>
            </div>



          </div>
        </div>


        </div>
</div>


<div id="Editdistrict" class="modal fade">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><strong>Edit {{district}} District</strong></h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST">
            {% csrf_token %}
            <div class="mb-3 mt-3">
              {{form.as_p}}
            <div class="text-right mt-3">
              <button type="submit"  class="btn1">Submit</button>
            </div>
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>


<div id="AddAdmin" class="modal fade">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><strong>Add Admin to {{district}} District</strong></h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action='{% url "admin-addadm" district.id %}'>
            {% csrf_token %}
            <div class="mb-3 mt-3">
              {{form1.as_p}}
            <div class="text-right mt-3">
              <button type="submit"  class="btn1">Submit</button>
            </div>
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>



<div id="EditAdmin" class="modal fade">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><strong>Edit {{district}} District Admin</strong></h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action='{% url "admin-edit-admin" district.id %}'>
            {% csrf_token %}
            <div class="mb-3 mt-3">
              {{form2.as_p}}
            <div class="text-right mt-3">
              <button type="submit"  class="btn1">Submit</button>
            </div>
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>


<div id="AddMember" class="modal fade">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><strong>Add Member to {{district}} District</strong></h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action='{% url "admin-add-member" district.id %}'>
            {% csrf_token %}
            <div class="mb-3 mt-3">
              {{form3.as_p}}
            <div class="text-right mt-3">
              <button type="submit"  class="btn1">Submit</button>
            </div>
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>


<div id="AddNewMember" class="modal fade">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><strong>Register New Member to {{district}} District</strong></h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action='{% url "admin-add-new-member" district.id %}'>
            {% csrf_token %}
            <div class="mb-3 mt-3">
              {{form4.as_p}}
            <div class="text-right mt-3">
              <button type="submit"  class="btn1">Submit</button>
            </div>
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
{% endblock content %}