{% extends 'main.html' %}

{% block content %}
<style>
a:hover{
    color:black;
}
#myInput,select{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}
f-left {
  float: left;
}

.f-right {
  float: right;
}
#btn1{
  background-color:#f82249;
  padding:15px;
  color:white;
  border:2px solid #f82249;
  border-radius:5px;
}
</style>

<div class="container-fluid col-lg-12" data-aos="fade-up">
    <center>
        <section id="counts" class="counts">
          <div class="container">
              <div class="col-lg-6 col-6">
                <div class="count-box">
                    <i class="bi bi-check-square"></i><br>
                  <span data-purecounter-start="0" data-purecounter-end="4000" data-purecounter-duration="1" class="purecounter">{{ count }}</span>
                  <p><b>Total Marked Attendance</b></p>
                </div>
              </div>
      
            </div>
        </section>
      </center>
        
          <center>
            <div class="container-fluid">
                  <a href="{% url 'all-results-download' %}"><button type="button" class="btn btn-success m-2"><i class="bi bi-download"></i>. Download all marked Attendance</button></a>
                  <button data-bs-toggle="modal" data-bs-target="#filterResult" type="button" class="m-2 btn btn-primary"><i class="bi bi-filter"></i>. Filters</button>
              </div>
      </center>
      <section>
        <div class="container-fluid">
          {% if attend %}
          <div class="table-responsive-sm">
            <table class="table" id="myTable">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Email Address</th>
                  <th>Phone Number</th>
                  <th>Gender</th>
                  <th>Day</th>
                  <th>Assembly</th>
                  <th>District</th>
                  <th>Department</th>
                  <th>Date and Time</th>
                </tr>
              </thead>
              <tbody>
                {% for i in attend %}
                <tr>
                  
                  <ol><td><li></li></td></ol>
                  <td>{{i.member.name}}</td>
                  <td>{{i.member.email}}</td>
                  <td>{{i.member.phone}}</td>
                  <td>{{i.member.gender}}</td>
                  <td>{{i.day}}</td>
                  <td>{{i.member.assembly}}</td>
                  <td>{{i.member.district}}</td>
                  <td>{{i.member.department}}</td>
                  <td>{{i.date}}</td>

                </tr>{% endfor %}
              </tbody>
            </table>


            {% if attend.has_other_pages %}
    <ul class="pagination">
        {% if attend.has_previous %}
            <li class="page-item m-2"><a class="page-link btn btn-danger" href="?page=1">1</a></li>
            {% if attend.number > 3 %}
                <li class="page-item m-2 disabled"><span class="page-link">...</span></li>
            {% endif %}
            {% for i in attend.paginator.page_range %}
                {% if attend.number|add:-3 <= i <= attend.number|add:3 %}
                    <li class="page-item m-2 {% if i == attend.number %}active{% endif %}">
                        <a class="page-link btn btn-danger" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if attend.paginator.num_pages > attend.number|add:3 %}
                <li class="page-item m-2 disabled"><span class="page-link">...</span></li>
            {% endif %}
            <li class="page-item m-2"><a class="page-link btn btn-danger" href="?page={{ attend.paginator.num_pages }}">{{ attend.paginator.num_pages }}</a></li>
        {% else %}
            <li class="page-item m-2 disabled"><span class="page-link btn btn-danger">previous</span></li>
            {% for i in attend.paginator.page_range %}
                <li class="page-item m-2 {% if i == attend.number %}active{% endif %}">
                    <a class="page-link btn btn-danger" href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endfor %}
            <li class="page-item m-2"><a class="page-link btn btn-danger" href="?page={{ attend.paginator.num_pages }}">{{ attend.paginator.num_pages }}</a></li>
        {% endif %}
        {% if attend.has_next %}
            <li class="page-item m-2"><a class="page-link btn btn-danger" href="?page={{ attend.next_page_number }}">next</a></li>
        {% else %}
            <li class="page-item m-2 disabled"><span class="page-link btn btn-danger">next</span></li>
        {% endif %}
    </ul>
{% endif %}

        
            {% else %}

        <center><h1 class="mt-4 text-danger"><b>No marked Attendance Found</b></h1></center>

        {% endif %}
      </div>
      </div>
    </section>
</div>

    {% endblock content %}