{% extends 'main.html' %}

{% block content %}
<style>
a:hover{
    color:black;
}
#myInput,select{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}
f-left {
  float: left;
}

.f-right {
  float: right;
}
#btn1{
  background-color:#f82249;
  padding:15px;
  color:white;
  border:2px solid #f82249;
  border-radius:5px;
}
</style>

<div class="container col-lg-12" data-aos="fade-up">

    <div class="row">
        <div class="card col-lg-12  border-0"><center>
        <section id="counts" class="counts">
          <div class="container">
      
           
      
              <div class="col-lg-6 col-6">
                <div class="count-box">
                    <i class="bi bi-question"></i><br>
                  <span data-purecounter-start="0" data-purecounter-end="4000" data-purecounter-duration="1" class="purecounter">{{count}}</span>
                  <p><b>Total Question Asked</b></p>
                </div>
              </div>
      
            </div>
      
              
      
           
        </section></center>


    <!-- =======  F.A.Q Section ======= -->
    <section id="faq">

        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>F.A.Q </h2>
          </div>
  
          <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-9">
              {% if que %}
              <ul class="faq-list">
  {% for i in que %}
                <li>
                  <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">{{i.name}} | {{i.email}}<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                  <div id="faq1" class="collapse" data-bs-parent=".faq-list"><br>
                    <h2>{{i.subject}} | {{i.date}}</h2>
                    <p>
                        {{i.question}}
                    </p>
                  </div>
                </li>
                {% endfor %}
  
              </ul>
  
            </div>
          </div>
  
        </div>
        {% else %}

        <center><h1><b>No Question has been asked yet</b></h1></center>

        {% endif %}
  
      </section><!-- End  F.A.Q Section -->
  


{% endblock %}