{% extends 'main.html' %}
{% block content %}
{% load static %}
<style>

    .card {
        padding: 20px;
    }
</style>

<div class="card border-0 shadow col-lg-12 col-12 ">
    <!-- Your card content goes here -->
    <h2><center><strong>FOOD FOR THOUGHT</strong></center></h2>
    <ul>
        <dt>
            <p>
                <i class="bi bi-arrows-move text-danger"></i>Your character is your doctrine demonstrated.-Andrew B.Ray
            </p>
        </dt>
        <dt>
            <p>
                <i class="bi bi-arrows-move text-danger"></i> Understanding of sound doctrine leads to obedience in the Spirit. - Lailah Gifty Akita
            </p>
        </dt>
        <dt>
            <p>
                <i class="bi bi-arrows-move text-danger"></i> Sound doctrine is God's roadmap for the Christian life and the life of the Church.-Bobby Jamieson
            </p>
        </dt>
        <dt>
            <p>
                <i class="bi bi-arrows-move text-danger"></i> Zeal without doctrine is like a sword in the hand of a lunatic.-John Calvin
            </p>
        </dt>
        <dt>
            <p>
                <i class="bi bi-arrows-move text-danger"></i> Those who teach by their doctrine must teach by their lives, or else they pull down with one hand what they build up with the other.-Matthew Henry
            </p>
        </dt>
        <dt>
            <p>
                <i class="bi bi-arrows-move text-danger"></i> If we go astray in our doctrine, eventually our lives will go astray as well. You cannot separate what a man believes from what he is. For this reason, doctrine is vitally important.-Martyn Lloyd-Jones
            </p>
        </dt>
    <dt>
        <p>
            <i class="bi bi-arrows-move text-danger"></i> Reformation is a return to the sound doctrine of the Bible. Revival is the practice of that sound doctrine under the power of the Holy Spirit. - Franscis Schaeffer
        </p>
    </dt>
    <dt>
        <p>
            <i class="bi bi-arrows-move text-danger"></i> When a man believes wrongly, he will soon act wrongly. -Charles Spurgeon
        </p>
    </dt>
    <dt>
        <p>
            <i class="bi bi-arrows-move text-danger"></i> He who is not zealous against error is not likely to be zealous for truth.-J.C.Ryle
        </p>
    </dt>
    <dt>
        <p>
            <i class="bi bi-arrows-move text-danger"></i> You can be straight as a gun barrel theologically and as empty as one spiritually.-A.W.Tozer
        </p>
    </dt>
    <dt>
        <p>
            <i class="bi bi-arrows-move text-danger"></i> If sound doctrine is given up, the real Gospel of redemption by the blood of the Son of God is denied, and worldliness follows.-Arad C.Gaebelein
        </p>
    </dt>
    <dt>
        <p>
            <i class="bi bi-arrows-move text-danger"></i> Doctrine is only the drawing of the bow; application is hitting the mark.- Thomas Manton
        </p>
    </dt>
    <dt>
        <p>
            <i class="bi bi-arrows-move text-danger"></i> Doctrine is the framework of life - the skeleton of truth - to be clothed and rounded out by the living grace of a holy life.-Adoniran Gordon
        </p>
    </dt>
    <dt>
        <p>
            <i class="bi bi-arrows-move text-danger"></i> No doctrine of the Christian religion is worth presenting that cannot be verified in daily life.-John Watson
        </p>
    </dt>
    <dt>
        <p>
            <i class="bi bi-arrows-move text-danger"></i> It is an undeniable truth that every doctrine that comes from God and that which does not tend to promote holiness is not of God.-George Whitefield.
        </p>
    </dt>
    <dt>
        <p>
            <i class="bi bi-arrows-move text-danger"></i> If true religion is to beam upon us, our principle must be that it is necessary to begin with heavenly teaching and that it is impossible for any man to obtain even the minutest portion of right and sound doctrine without being a disciple of scripture.
        </p>
    </dt>
    <dt>
        <p>
            <i class="bi bi-arrows-move text-danger"></i> Christian doctrine serves as the constitution of godly living. Just as the skeleton is to the body or oxygen is to breathing, doctrine proves indispensable to Christianity. Without Christian doctrine, believers would be stripped of truth in living out the faith.-John Macarthur
        </p>
    </dt>
    <dt>
        <p>
            <i class="bi bi-arrows-move text-danger"></i> Good conduct arises out of good doctrine.-John Stott
        </p>
    </dt>
    <dt>
        <p>
            <i class="bi bi-arrows-move text-danger"></i> You can have all of your doctrines right and still not have the presence of God.-Leonard Ravenhill
        </p>
    </dt>

    <dt>
        <p>
            <i class="bi bi-arrows-move text-danger"></i> Give hearing to God's word and find your bearing in man's world.-M.K.Ehinmode
        </p>
    </dt>
    <dt>
        <p>
            <i class="bi bi-arrows-move text-danger"></i> Be absolutely clear about who you are and what you stand for. Refuse to compromise.
        </p>
    </dt>
    <dt>
        <p>
            <i class="bi bi-arrows-move text-danger"></i> Accept that you are where you are and what you are because of yourself. If you don't like it, change it.-Brain Tracy
        </p>
    </dt>
    <dt>
        <p>
            <i class="bi bi-arrows-move text-danger"></i> The key to discovery is searching through the pages of the Bible. Dig deep to discover so that you can recover. -Anonymous
        </p>
    </dt>
    <dt>
        <p>
            <i class="bi bi-arrows-move text-danger"></i> You cannot live right until you hear the right and know the right doctrine.-M.K.Ehinmode
        </p>
    </dt>
    <dt>
        <p>
            <i class="bi bi-arrows-move text-danger"></i> If you want to change your life for the better, you must start immediately and do it flamboyantly.-William James
        </p>
    </dt>
    <dt>
        <p>
            <i class="bi bi-arrows-move text-danger"></i> The foundation of true holiness and true Christian worship is the doctrine of the gospel, which is what we are to believe. So, when Christian doctrine is neglected ,forsaken, or corrupted, true holiness and worship will also be neglected, forsaken and corrupted.
        </p>
    </dt>
    <dt>
        <p>
            <i class="bi bi-arrows-move text-danger"></i> Check the records; there has never been an undisciplined person who was a champion. Regardless of your field of endeavour, you will find this to be true.-Zig Ziglar
        </p>
    </dt>
    <dt>
        <p>
            <i class="bi bi-arrows-move text-danger"></i> You cannot grow without until you have grown within.-Bola Akin-John
        </p>
    </dt>
    
    </div>
</section>


{% endblock content %}