{% extends 'main.html' %}
{% block content %}
{% load static %}
<style>

</style>

<section>
   
        <div class="container">
            <a href="#077"><button type="button" class="btn btn-danger m-2"><i class="bi bi-book-fill"></i> Hymn 077 </button></a>
            <a href="#075"><button type="button" class="btn btn-danger m-2"><i class="bi bi-book-fill"></i> Hymn 075 </button></a>
            <a href="#071"><button type="button" class="btn btn-danger m-2"><i class="bi bi-book-fill"></i> Hymn 071 </button></a>
            <a href="#597"><button type="button" class="btn btn-danger m-2"><i class="bi bi-book-fill"></i> Hymn 597 </button></a>
            <a href="#809"><button type="button" class="btn btn-danger m-2"><i class="bi bi-book-fill"></i> Hymn 809 </button></a>
            <a href="#627"><button type="button" class="btn btn-danger m-2"><i class="bi bi-book-fill"></i> Hymn 627 </button></a>
            <a href="#882"><button type="button" class="btn btn-danger m-2"><i class="bi bi-book-fill"></i> Hymn 882 </button></a>
            <a href="#478"><button type="button" class="btn btn-danger m-2"><i class="bi bi-book-fill"></i> Hymn 478 </button></a>
            <a href="#"><button type="button" class="btn btn-danger m-2"><i class="bi bi-book-fill"></i> Hymn  </button></a>      
<div class="row mt-5">
    <div class="card col-12 col-lg-6 border-0 rounded-0 shadow p-3" id="077">
        <div class="card-title">
           <h4><center><strong>HYMN 077</strong></center></h4>
        </div>
        <p>
<ol>
<li>
    All hail the pow'r of Jesus' name,<br>
    Let angels prostrate fall,<br>
    Let angels prostrate fall,<br>
    Bring forth the royal diadem.<br>
</li>

  <li>
    And crown Him crown Him,<br>
    Crown Him crown Him,<br>
    And crown Him Lord of all.<br>
  </li>
<li>
    Ye chosen seed of Israel's race,<br>
    Ye ransomed from the fall,<br>
    Ye ransomed from the fall,<br>
    Hail Him who saves you by His grace.<br>
</li>

<li>

    Let every kindred ev'ry tribe,<br>
    On this terrestrial ball,<br>
    On this terrestrial ball,<br>
    To Him all majesty ascribes.<br>
</li>
<li>
    O that with yonder sacred throng,<br>
    We at His feet may fall,<br>
    We at His feet may fall,<br>
    We'll join the everlasting song.<br>
</li>

</ol>
        </p>
    </div>
    <div class="card col-12 col-lg-6 border-0 rounded-0 shadow p-3" id="075">
        <div class="card-title">
            <h4><center><strong>HYMN 075</strong></center></h4> 
        </div>
        <p>
<ol>
<li>
    f' Oh for a thousand tongues to sing<br>
  My dear Redeemer’s praise,<br>
  The glories of my God and King,<br>
  The triumphs of His grace!<br>
</li>
<li>
    Jesus the name that charms our fears,<br>
    That bids our sorrows cease;<br>
    ‘Tis music in the sinner’s ears;<br>
   cr ‘Tis life, and health, and peace.<br>
</li>
<li>
    mf He breaks the pow’r of cancell’d sin,<br>
    And sets the prisoner free;<br>
   di His blood can make the foulest  clean;<br>
    p His blood avail’d for me.<br>
</li>
<li>
    cr He speaks and, listening to His voice,<br>
    New life the dead receive;<br>
    The mournful broken hearts rejoice,<br>
    The humble poor believe.<br>
</li>
<li>
    f Hear Him, ye deaf; His praise, ye dumb,<br>
    Your loosen’d tongues employ;<br>
    Ye blind, behold your Saviour come,<br>
    And leap, ye lame, for joy!<br>
</li>
<li>
    My gracious Master and my God,<br>
    Assist me to proclaim<br>
   ff And spread through all the earth  abroad<br>
    The honours of Thy name.<br>
</li>
</ol>
        </p>
    </div>
    <div class="card col-12 col-lg-6 border-0 rounded-0 shadow p-3" id="071">
        <div class="card-title">
            <h4><center><strong>HYMN 071</strong></center></h4> 
        </div>
        <p>
<ol>
<li>
    Let us with a gladsome mind<br>
    Praise the Lord, for He is kind;<br>
    For His mercies still endure,<br>
    Ever faithful, ever sure<br> 
</li>
<li>
    He, with all-commanding might,<br>
    Filled the new-made world with light;<br>
    For His mercies still endure,<br>
    Ever faithful, ever sure<br>
</li>
<li>
    All things living he doth feed,<br>
    His full hand supplies their need:<br>
    For His mercies still endure,<br>
    Ever faithful, ever sure<br>
</li>
<li>
    He His chosen race did bless<br>
    In the wasteful wilderness:<br>
    For His mercies still endure,<br>
    Ever faithful, ever sure<br>
</li>
<li>
    Let us then with gladsome mind<br>
    Praise the Lord, for He is kind:<br>
    For His mercies still endure,<br>
    Ever faithful, ever sure<br>
</li>
</ol>
        </p>
    </div>
    <div class="card col-12 col-lg-6 border-0 rounded-0 shadow p-3" id="597">
        <div class="card-title">
            <h4><center><strong>HYMN 597</strong></center></h4> 
        </div>
        <p>
<ol>
<li>
    Be Thou my Vision, O Lord of my heart;<br>
Naught be all else to me, save that Thou art.<br>
Thou my best Thought, by day or by night,<br>
Waking or sleeping, Thy presence my light.<br>
</li>

<li>
    Be Thou my Wisdom, and Thou my true Word;<br>
    I ever with Thee and Thou with me, Lord;<br>
    Thou my great Father, I Thy true son;<br>
    Thou in me dwelling, and I with Thee one.<br>
</li>
<li>
    Be Thou my battle Shield, Sword for the fight;<br>
    Be Thou my Dignity, Thou my Delight;<br>
    Thou my soul’s Shelter, Thou my high Tower:<br>
    Raise Thou me heavenward, O Power of my power.<br>
</li>

<li>
    Riches I heed not, nor man’s empty praise,
    Thou mine Inheritance, now and always:<br>
    Thou and Thou only, first in my heart,<br>
    High King of Heaven, my Treasure Thou art.<br>
</li>
<li>
    High King of Heaven, my victory won,<br>
    May I reach Heaven’s joys, O bright Heaven’s Sun!<br>
    Heart of my own heart, whatever befall,<br>
    Still be my Vision, O Ruler of all.<br>
</li>
</ol>
        </p>
    </div>
    <div class="card col-12 col-lg-6 border-0 rounded-0 shadow p-3" id="582">
        <div class="card-title">
            <h4><center><strong>HYMN 582</strong></center></h4> 
        </div>
        <p>
<ol>
<li>
    When we walk with the Lord<br>
  In the light of His Word,<br>
What a glory He sheds on our way;<br>
  While we do His good will,<br>
  He abides with us still,<br>
And with all who will trust and obey.<br>
</li>
<i><strong>
    Trust and obey,<br>
For there’s no other way<br>
To be happy in Jesus,<br>
  But to trust and obey.<br>
</strong></i>

<li>
    Not a shadow can rise,<br>
    Not a cloud in the skies,<br>
  But His smile quickly drives it away;<br>
    Not a doubt or a fear,<br>
    Not a sigh or a tear,<br>
  Can abide while we trust and obey.<br>
</li>
<li>
    Not a burden we bear,<br>
    Not a sorrow we share,<br>
  But our toil He doth richly repay;<br>
    Not a grief or a loss,<br>
    Not a frown or a cross,<br>
  But is blest if we trust and obey.
</li>
<li>
    But we never can prove<br>
    The delights of His love,<br>
  Until all on the altar we lay;<br>
    For the favor He shows,<br>
    And the joy He bestows,<br>
  Are for them who will trust and obey.<br>
</li>
<li>
    Then in fellowship sweet<br>
    We will sit at His feet,<br>
  Or we’ll walk by His side in the way;<br>
    What He says we will do;<br>
    Where He sends, we will go,<br>
  Never fear, only trust and obey.<br>
</li>
</ol>
        </p>
    </div>
    <div class="card col-12 col-lg-6 border-0 rounded-0 shadow p-3" id="627">
        <div class="card-title">
            <h4><center><strong>HYMN 627</strong></center></h4> 
        </div>
        <p>
<ol>
<li>
    My hope is built on nothing less<br>
    Than Jesus Christ, my righteousness;<br>
    No merit of my own I claim<br>
    But wholly lean on Jesus' name.<br>
</li>
<li>
    On Christ, the solid Rock, I stand;<br>
    All other ground is sinking sand,<br>
    All other ground is sinking sand.<br>
</li>
<li>
    When darkness veils His lovely face,<br>
    I rest on His unchanging grace;<br>
    In every high and stormy gale,<br>
    My anchor holds within the veil.<br>
</li>        
<li>
    His oath, His covenant, His blood,<br>
    Support me in the whelming flood;<br>
    When all around my soul gives way,<br>
    He then is all my hope and stay.<br>
</li>
<li>
    When He shall come with trumpet sound,<br>
    Oh, may I then in Him be found;<br>
    In Him, my righteousness, alone,<br>
    Faultless to stand before the throne<br>
</li>
</ol>
        </p>
    </div>
    <div class="card col-12 col-lg-6 border-0 rounded-0 shadow p-3" id="882">
        <div class="card-title">
            <h4><center><strong>HYMN 882</strong></center></h4> 
        </div>
        <p>
<ol>
<li>
    ’Tis so sweet to trust in Jesus,<br>
    Just to take Him at His word;<br>
    Just to rest upon His promise;<br>
    Just to know, Thus saith the Lord.<br>
</li>
<i><strong>
    Jesus, Jesus, how I trust Him,<br>
    How I’ve proved Him o’er and o’er,<br>
    Jesus, Jesus, Precious Jesus!<br>
      O for grace to trust Him more.<br>
</strong></i>

<li>
    O how sweet to trust in Jesus,<br>
    Just to trust His cleansing blood;
    Just in simple faith to plunge me,<br>
    ’Neath the healing, cleansing flood.<br>
</li>
<li>
    Yes, ’tis sweet to trust in Jesus,<br>
    Just from sin and self to cease;<br>
    Just from Jesus simply taking<br>
    Life, and rest, and joy, and peace.<br>
</li>
<li>
    I’m so glad I learned to trust Thee,<br>
    Precious Jesus, Savior, Friend;<br>
    And I know that Thou art with me,<br>
    Wilt be with me to the end.<br>
</li>
</ol>       
        </p>
    </div>
    <div class="card col-12 col-lg-6 border-0 rounded-0 shadow p-3" id="478">
        <div class="card-title">
            <h4><center><strong>HYMN 478</strong></center></h4> 
        </div>
        <p>
<ol>
<li>
    I am so glad that our Father in heav’n<br>
    Tells of His love in the Book He has giv’n;<br>
    Wonderful things in the Bible I see:<br>
    This is the dearest, that Jesus loves me.<br>
</li>
<i><strong>
    I am so glad that Jesus loves me,<br>
              Jesus loves me, Jesus loves me;<br>
            I am so glad that Jesus loves me,<br>
                Jesus loves even me.<br>
</strong></i>
<li>
    Though I forget Him and wander away,<br>
    Still He doth love me whenever I stray;<br>
    Back to His dear loving arms would I flee,<br>
    When I remember that Jesus loves me<br>
</li>
<li>
    Oh, if there’s only one song I can sing,<br>
    When in His beauty I see the great King,<br>
    This shall my song in eternity be:<br>
    “Oh, what a wonder that Jesus loves me.”<br>
</li>
</ol>
        </p>
    </div>
    <div class="card col-12 col-lg-6 border-0 rounded-0 shadow p-3" id="--">
        <div class="card-title">
            <h4><center><strong>HYMN --</strong></center></h4> 
        </div>
        <p>
<ol>
<li>
    On a hill far away stood an old rugged cross,<br>
    The emblem of suff’ring and shame,<br>
  And I love that old cross where the Dearest and Best<br>
    For a world of lost sinners was slain.<br>
</li>
<i><strong>
    So I’ll cherish the old rugged cross,<br>
    Till my trophies at last I lay down;<br>
    I will cling to the old rugged cross,<br>
      And exchange it some day for a crown.<br>
</strong></i>
<li>
    Oh, that old rugged cross, so despised by the world,<br>
    Has a wondrous attraction for me;<br>
  For the dear Lamb of God left His glory above,<br>
    To bear it to dark Calvary.<br>
</li>
<li>
    In the old rugged cross, stained with blood so divine,<br>
    A wondrous beauty I see;<br>
  For ’twas on that old cross Jesus suffered and died,<br>
    To pardon and sanctify me.
</li>
</ol>
        </p>
    </div>

</div>

    </div>
</section>
<br><br>
{% endblock content %}