{% extends 'main.html' %}
{% block content %}
{% load static %}
<style>

    .card {
        padding: 20px;
    }
</style>

<section>
    <div class="card border-0 shadow col-lg-12 col-12 ">
        <!-- Your card content goes here -->
        <h2><center><strong>LIFE DURING CONFERENCE</strong></center></h2>
        <p><center><i>But the Lord is in His Holy temple, let all earth keep silence before Him <span style="font-weight: 650;">-Hebrews 2:20</span><br>
            Thy testimonies are very sure; holiness becometh thine house,O LORD, forever<span style="font-weight: 650;"> -Psalms 93:5.</span></i></center></p>
    <h2 style="font-weight: 600;">YOU ARE WELCOME TO CAC CANAANLAND INTERDENOMINATION YOUTH POWER EXPLOSION CONFERENCE 2024</h2>
    May the peace, love and joy of our Lord Jesus Christ be greatly multiplied unto you as you participate in this year's Conference. Amen. <br>
    Let us allow the Holy Spirit to lead us in abiding by the following Conference rules: <br><br>
    <ul>
        <li>
    	All participants are expected to REGISTER as soon as they arrive in the Camp and ALWAYS put on the Conference badge.(Ezra 2:62,Matthew 22:11-13). 
        </li>
        <li>
          All participants on this camp ground are STRONGLY ENJOINED to attend all sessions of the conference as scheduled in the programme.
        </li>
        <li>
       Nobody SHOULD stay behind in the room during programme for any reason such as SLEEPING,COOKING or PRAYING etc. Anyone not feeling fine should immediately report to his/her COORDINATOR.
        </li>
        <li>
            <dt>Kindly avoid every act of MISCONDUCT Such as:</dt>
          
                <dl>
                    <ol>
                        <li>
                            Immodest dressing: such as wearing transparent and/or unnecessarily   tight dresses.1 Timothy 2:9,22,Acts 15:20
                        </li>
                        
                            <li>
                                Stealing/pilfering
                            </li>
                            <li>
                                Use of foul language and foolish talk.  James 3:1-12, Proverbs18:21,1Timothy 4:12
                            </li>
                            <li>
                                Disrespect to any Church Leader and Conference Officials.
                            </li>
                            <li>
                                Quarrelling, bickering and fighting .
                            </li>
                       
                    </ol>
                </dl>
        </li>
        <li>
            Halls of residence and rooms are out of bound to the opposite sex except with the express permission of the Conference Officials or Accommodation Officers.
        </li>
        <li>
            Participants should not go out of the Camp ground, without the knowledge and permission of their COORDINATOR(S) or any acquaintance.
        </li>
        <li>
            Be guided in your use of phones during programs. Be mature enough to switch it off when necessary.
        </li>
        <li>
            Obey the instructions and direction of the Conference Officials, Ushers and Security personnel. They have our order to maintain orderliness within and outside the Conference halls.
        </li>
        <li>
            Report all cases of accidents or incidents immediately to the information centre. Movement on the altar is highly restricted.
        </li>
        <li>
            Maintain a very neat environment both in the hostels and in the lecture halls.
        </li>
        <li>
            Keep your belongings well and safe, and in case of any lost-but-found items, report to the information Centre or Conference Officers.
        </li>
        <li>
            Flee Youthful lust...and every appearance of evil. Abide in holiness.(Psalms 95:5).
        </li>
        <li>
            Participants should endeavour to wait till the end of the Conference so as to receive God’s blessings in full.
        </li>
        <li>
            Let us earnestly live as if rapture will take place in this Conference.
        </li>
        <li>
            If you know these things you shall be blessed indeed if you do them. (John 13:17). If you are willing and obedient, YOU shall eat the good of the land. 
            Isaiah 1:19.
        </li>

<h4 style="font-weight: 600;">GOD BLESS YOU!</h4>


    </ul>


</div>
</section>

{% endblock content %}