{% extends 'main.html' %}
{% block content %}
{% load static %}
<style>

    .card {
        padding: 20px;
    }
</style>

<section>
    <div class="card border-0 shadow col-lg-12 col-12 ">
        <!-- Your card content goes here -->
        <h2><center><strong>TENETS OF CHRIST APOSTOLIC CHURCH </strong></center></h2>
        <ul>
            <dt>
                <p><i class="bi bi-arrows-move text-danger"></i> The unity of the God head and the Trinity of the persons therein.</p>
            </dt>
            <dt>
                <p>
                    <i class="bi bi-arrows-move text-danger"></i> The utter depravity of human nature, the necessity for repentance, regeneration and the eternal doom of the finally impenitent.
                </p>
            </dt>
            <dt>
                <p>
                    <i class="bi bi-arrows-move text-danger"></i> The virgin birth, sinless Life, atoning death, triumphant resurrection, ascension and abiding intercession of our LORD Jesus Christ; His second coming and millennial reign upon the earth.
                </p>
            </dt>
            <dt>
                <p>
                    <i class="bi bi-arrows-move text-danger"></i> Justification and sanctification of the believers through the finished work of Christ
                </p>
            </dt>
            <dt>
                <p>
                    <i class="bi bi-arrows-move text-danger"></i> The baptism of the Holy Spirit for believer with signs following.
                </p>
            </dt>
            <dt>
                <p>
                    <i class="bi bi-arrows-move text-danger"></i> The nine gifts of the Holy Spirit for the edification, exhortation and comfort of the church which is the body of Christ.
                </p>
            </dt>
            <dt>
                <p>
                    <i class="bi bi-arrows-move text-danger"></i> The sacraments of baptism by immersion and of the LORD's supper.
                </p>
            </dt>
            <dt>
                <p>
                    <i class="bi bi-arrows-move text-danger"></i> The divine inspiration and authority of the Holy Scriptures.
                </p>
            </dt>
            <dt>
                <p>
                    <i class="bi bi-arrows-move text-danger"></i> Church government by Apostles, Prophets, Evangelists, Pastors, Church Teachers and Elders/Deacons.
                </p>
            </dt>
            <dt>
                <p>
                    <i class="bi bi-arrows-move text-danger"></i> The possibility of falling from grace.
                </p>
            </dt>
            <dt>
                <p>
                    <i class="bi bi-arrows-move text-danger"></i> The obligatory nature of tithes and offerings.
                </p>
            </dt>
            <dt>
                <p>
                    <i class="bi bi-arrows-move text-danger"></i> Divine healing through obedience to the command of our LORD Jesus Christ and faith in his name and merits of His blood for all sicknesses, diseases and infirmities.
                </p>
            </dt>
            <dt>
                <p>
                    <i class="bi bi-arrows-move text-danger"></i> Faith in God the Jehovah Jireh to supply all financial needs.
                </p>
            </dt>           
        </ul>
    </div>
</section>


{% endblock content %}